body {
    background-color: rgba(67, 69, 78, 0.966);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}
.text-center {
    margin-top: 100px;
    text-align: center;
}
#text-container {
    margin-top: 20px;
}
.text-orange {
    color: goldenrod;
}